.main{
    margin-top: 13vh;
    margin-bottom: 13vh;
    background: linear-gradient(#04b4e0,#04b4e0);
    border-radius: 32px;
    min-height: 74vh;
    -webkit-box-shadow: 0 0 100px -5px rgba(0,0,0,.25);
    box-shadow: 0 0 100px -5px rgba(0,0,0,.25);
    padding: 0;
    .content-area{
        background-color: #fff;
        border-radius: 32px;
        max-height: 74vh;
    }
    .info-content{
        min-height: 74vh;
        padding: 65px 30px 45px;
        text-align: center;
        .top{
            .top-photo{
                margin: 0 auto 30px;
                img{
                    max-height: 150px;
                    max-width: 150px;
                    width: auto;
                    height: auto;
                    background-color: #fff;
                    border: 3px solid #fff;
                    border-radius: 50%;
                }
            }
            .top-title{
                color: #fff;
                h2{
                    font-weight: 700;
                }
                h4{
                    font-weight: 100;
                }
            }
        }
        .cv-button{
            margin-top: 50px;
            a{
                background-color: transparent;
                color: #fff;
                border-color: #fff;
                transition: all .5s;
                &:hover{
                    color: #09aeea;
                    background-color: #fff;
                }
            }
        }
    }
}
.user-profile{
    margin-top: 13vh;
    margin-bottom: 13vh;
    background: linear-gradient(#04b4e0,#04b4e0);
    border-radius: 32px;
    min-height: 74vh;
    -webkit-box-shadow: 0 0 100px -5px rgba(0,0,0,.25);
    box-shadow: 0 0 100px -5px rgba(0,0,0,.25);
    padding: 0;
    overflow: hidden;
    .content-area{
        position: relative;
        background-color: #fff;
        border-radius: 32px;
        font-size: 94px;
        text-align: center;
        color: #fff;
        .item{
          a{
            display: block;
            border-radius: 15px;
            color: #fff;
            background: linear-gradient(#04b4e0,#04b4e0);
            padding:15px 0;
            margin-top: 15px;
            transition: transform .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            text-decoration: none;
            width: 100%;
            &:hover{
              transform: scale(1.07);
            }
          }
            
        }
        .info{
            height: 100%;
            padding: 30px;
            text-align: start;
            font-family: Poppins,Helvetica,sans-serif;
            .page-title {
                display: block;
                position: relative;
                margin-bottom: 30px;
                h1{
                    color: #222;
                    font-size: 32px;
                    font-weight: 600;
                    font-style: normal;
                    letter-spacing: 0;
                }
                &::after{
                    position: absolute;
                    opacity: .45;
                    top: -10%;
                    left: -12px;
                    content: '';
                    height: 25px;
                    width: 25px;
                    background-image: -webkit-repeating-radial-gradient(center center,#0ba376,#0ba376 1px,transparent 0,transparent 100%);
                    background-image: -moz-repeating-radial-gradient(center center,#0ba376,#0ba376 1px,transparent 0,transparent 100%);
                    background-image: -ms-repeating-radial-gradient(center center,#0ba376,#0ba376 1px,transparent 0,transparent 100%);
                    -webkit-background-size: 6px 6px;
                    background-size: 6px 6px;
                    z-index: 0;
                }
            }
            .info-list{
                font-size: 15px;
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li{
                        margin-bottom: 10px;
                        .title{
                            color: #04b4e0;
                            margin-right: 5px;
                            font-weight: 600;
                        }
                        .value{
                            font-weight: 400;
                            font-style: normal;
                            line-height: 1.75em;
                            color: #555;
                        }
                    }
                }
            }
        }
    }
    .info-content{
        min-height: 74vh;
        padding: 65px 30px 45px;
        text-align: center;
        .top{
            .top-photo{
                margin: 0 auto 30px;
                .avatar{
                    width: 150px;
                    height: 150px;
                    margin: 0 auto;
                    position: relative;
                    overflow: hidden;
                    box-sizing: border-box;
                    border: 3px solid #fff;
                    border-radius: 50%;
                    input{
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        cursor: pointer;
                    }
                }
                img{
                    height: 100%;
                    width: 100%;
                    background-color: #fff;
                    object-fit: cover;
                }
            }
            .top-title{
                color: #fff;
                word-wrap: break-word;
                h2{
                    font-weight: 700;
                }
                h4{
                    font-weight: 100;
                }
            }
        }
        .cv-button{
            margin-top: 50px;
            a{
                background-color: transparent;
                color: #fff;
                border-color: #fff;
                transition: all .5s;
                &:hover{
                    color: #09aeea;
                    background-color: #fff;
                }
            }
        }
    }
  }
  @media only screen and (max-width: 991px) {
    .user-profile{
      .info-content{
        min-height: auto !important;
      }
    }
}